.genres-container{
    margin-top: 5%;
    margin-left: 5%;
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 60px);
    grid-template-rows: repeat(auto-fit, 30px);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.genre-container{
    cursor: pointer;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cde875;
    border: 1px solid #cae962;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
}
.genre-container:hover{
    transform: translateY(-1px);
    background-color: #b3cb65;
    border: 1px solid #b3cb65;
}
.genre-container p{
    font-size: 10px;
}
.genre-filter-button{
    width: 60px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    background-color: rgb(176, 232, 92);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    margin-bottom: 5%;
}
.genre-filter-button:hover{
    border-radius:5px;
    background-color: rgb(84, 110, 43);
}
.genre-filter-button:hover p{
    border-radius:5px;
    background-color: rgb(84, 110, 43);
}
.genre-filter-button p {
    font-size: 12px;
}

